/* 
original
#724cf9

google
#4285F4
#0F9D58
#F4B400
#DB4437
#8a8d92

github
#e1e4e8
*/

@media (prefers-color-scheme: dark) {
  body {
    background: #222 !important;
  }
  .hyde.navbar-parent.hyde.navbar-bg {
    background-color: rgba(43, 43, 43, 0.9) !important;
  }
  .hyde.navbar-parent.hyde.navbar-bg .hyde.nav-item:before,
  .hyde.navbar-parent.hyde.navbar-bg .hyde.nav-item:after {
    background-color: white !important;
  }
  .hyde.navbar-parent.hyde.navbar-bg .hyde.nav-item:not(:first-child):hover a,
  .hyde.navbar-parent.hyde.navbar-bg .hyde.nav-item.active a {
    color: #222 !important;
  }
  .hyde.navbar-parent.hyde.navbar-bg .hyde.nav-toggler a {
    color: white !important;
  }
  .hyde.navbar-parent.hyde.navbar-bg .hyde.nav-item a {
    color: white !important;
  }
  .hyde.jumbotron {
    color: #f4f4f5 !important;
    background-image: url("../images/background/macOS-Sequoia-Dark.jpg") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
  .hyde.content {
    color: #eaeaec;
  }
  .hyde.content a {
    color: #6299f3;
  }
  td a:hover{
    color: #F4B400 !important;
  }
  .index-container a:hover {
    color: #F4B400 !important;
  }
  .hyde.content .hyde.share .hyde.share-item {
    color: #363636;
  }
  .hyde.content .hyde.share .hyde.share-item:hover {
    color: #6299f3;
  }
  .hyde.content .hyde.signature {
    background-color: #2b2b2b;
  }
  .hyde.content blockquote p {
    color: #d4d4d9 !important;
  }
  .hyde.content code.highlighter-rouge {
    /* background-color: #eaeaec !important; */
    background-color: #ffe7a0 !important;
    color: #222 !important;
  }
  .hyde.post .hyde.post-thumbnail-wrapper {
    background-color: #2b2b2b !important;
  }
  .hyde.post .hyde.post-thumbnail-wrapper .hyde.post-thumbnail {
    /* opacity: 0.4 !important; */
    opacity: 0.8 !important;
  }
  .hyde.post .hyde.post-thumbnail-wrapper .hyde.post-thumbnail:hover {
    /* opacity: 0.6 !important; */
    opacity: 1 !important;
  }
  .hyde.post .hyde.post-author {
    color: #f4f4f5 !important;
  }
  .hyde.post .hyde.post-title {
    color: #f4f4f5 !important;
  }
  .hyde.post .hyde.post-preview {
    color: #d4d4d9 !important;
  }
  .hyde.portfolio
    .hyde.portfolio-item-wrapper
    .hyde.portfolio-item:hover
    .hyde.thumbnail {
    /* opacity: 0.6 !important; */
    opacity: 1 !important;
  }
  .hyde.portfolio
    .hyde.portfolio-item-wrapper
    .hyde.portfolio-item
    .hyde.thumbnail {
    /* opacity: 0.4 !important; */
    opacity: 0.8 !important;
  }
  .hyde.tags .hyde.tag {
    background-color: #eaeaec !important;
  }
  hr {
    background-color: #2b2b2b !important;
  }
  .hyde.divider {
    border-bottom: 1px solid #2b2b2b !important;
  }
  .hyde.btn-default {
    color: white !important;
    border: 2px solid white !important;
  }
  .hyde.btn-default:hover {
    color: #222 !important;
    background-color: white !important;
  }
  .hyde.header .fa-plane:hover {
    color: #F4B400 !important;
  }
  .hyde.footer-wrapper {
    color: white !important;
    background: linear-gradient(45deg, #2b2b2b 45%, #363636 100%) !important;
  }
  .hyde.footer-wrapper .hyde.footer .hyde.footer-menu li a {
    color: white !important;
  }
  .hyde.footer-wrapper .hyde.footer .hyde.footer-menu.links li a:hover {
    color: #4285F4 !important;
  }
  .hyde.footer-wrapper .hyde.footer .hyde.footer-menu.social a {
    background-color: #444 !important;
  }
  .hyde.footer-wrapper .hyde.footer .hyde.footer-menu.social a:hover {
    color: #222 !important;
    background-color: white !important;
  }
  .hyde.footer-wrapper .hyde.footer .text {
    color: #aaaab3 !important;
  }
  .hyde.footer-wrapper .hyde.footer .text a {
    color: #d4d4d9 !important;
  }
  #search-bar {
    border: 1.5px solid #444;
  }
  
  #search-bar #search-input {
    color: white !important;
    background: #222 !important;
  }
  #search-bar #search-result {
    background-color: #222 !important;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.7) !important;
  }
  #search-bar #search-result .result-item .description {
    color: #eaeaec !important;
  }
  #post-list .title {
    color: #f4f4f5 !important;
  }
  #post-list .description {
    color: #d4d4d9 !important;
  }
  #post-list .tag {
    background-color: #eaeaec !important;
  }
  #post-list .divider {
    border-bottom: 1px solid #2b2b2b !important;
  }
}